.comments-area {
  display: grid;
  grid-template-columns: minmax(0, 100%);
  grid-gap: var(--spacing-half);
}

.comments-title {
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}

.comment-navigation {
  text-transform: uppercase;

  .nav-links {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    font-weight: 600;

    > div  {
      margin: 0 var(--spacing-half) 0 0;
    }
  }

  a {
    color: var(--color-text);
  }
}
.commentlist {
  display: grid;
  grid-gap: var(--spacing);
  grid-template-columns: minmax(0, 100%);
  margin-left: 0;
}

.comment,
.pingback {
  list-style: none;
  padding: var(--spacing-half);

  &.bypostauthor {
    background-color: rgba(0,0,0,.1);
  }
}

.comment-meta {
  display: grid;
  grid-gap: var(--spacing-half);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;

  a { 
    color: var(--color-text);
  }
}

.comment-author {
  font-size: 16px;
}

.comment-body {
  .reply {
    margin-bottom: var(--spacing-half);
  }
}


.comment-reply-link {
  background-color: var(--color-bg-alt);
  color: var(--color-text-alt);
  text-transform: uppercase;
  padding: 2px 5px;
  opacity: .9;
  transition: all .3s ease-in-out;

  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

.comment-form {
  label {
    display: block;
  }

  p {
    margin: 0 0 var(--spacing-half);
  }
}

.comment-reply-title {
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
}

.logged-in-as {
  font-weight: 600;

  a {
    color: var(--color-text);
  }
}