body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: 'Lora', serif;
  font-size: var(--font-size);
}

/* Header text */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 var(--spacing);
}

h1,
h2,
h3 {
  font-weight: 400;
}

h4,
h5,
h6 {
  font-weight: 600;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
  text-transform: uppercase;
}

h6 {
  font-size: 16px;
}

/* Paragraph tag */
p {
  margin: var(--spacing) 0;
  line-height: 1.5;
}

blockquote {
  font-style: italic;
  border-left: 2px solid var(--color-bg-alt);
  padding-left: var(--spacing);
}

/* Tables */
table,
td,
th {
  border: 1px solid var(--color-bg-alt);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px 0 0 1px;
  width: 100%;
}

td,
th {
  border-width: 0 1px 1px 0;
  text-align: left;
}

/* Defintion lists */
dt{ font-weight: bold; }
dd { margin: 0 0 var(--spacing) var(--spacing); }

/* Lists */
ul {
  list-style: disc;
}

ul,
ol {
  margin-left: var(--spacing);
  padding: 0;
}

/* Address tag*/
address {
  font-style: italic;
}

/* Anchor tag*/
a {
  color: var(--color-anchor);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* Abbreviation tag*/
abbr {
  cursor: help;
}

/* Acronym tag */
acronym {
  cursor: help;
}

/* Cite tag */
cite {
  font-style: italic;
}

/* Code tag */
code {
  background-color: rgba(0,0,0,.1);
}

/* Horisontal rule tag */
hr {
  width: 100%;
  border: none;
  height: 1px;
  background-color: var(--color-bg-alt);
}

/* Insert tag */
ins {
  text-decoration: none;
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Preformated text */
pre {
  background-color: rgba(0,0,0,.1);
  border: 1px dotted var(--color-text);
  border-radius: 3px;
  max-width: 100%;
  overflow: auto;
  padding: var(--spacing);
}

#widget-areas-footer,
#site-footer {
  hr {
    background-color: var(--color-text-alt);
  }

  table,
  th,
  td {
    border-color: var(--color-test-alt) !important;
  }
}

@media (min-width: 425px) {
  td,
  th {
    padding: var(--spacing-half);
  }
}