.post-thumbnail {
  margin-left: auto;
  margin-right: auto;

  &:hover {
    text-decoration: none;
  }
}

.post-thumbnail-placeholder {
  background-color: #EAEAEA;
  display: grid;
  justify-items: center;
  align-items: center;

  i {
    font-size: 8rem;
    color: #999999;
    padding: var(--spacing);
  }
}

.layout-two-columns,
.layout-criss-cross {
  .post-thumbnail {
    width: 100%;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}