/* Header text */
h1,
h2,
h3 {
  font-weight: 400;
}

h4,
h5,
h6 {
  font-weight: 600;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
  text-transform: uppercase;
}

h6 {
  font-size: 1rem;
}

/* Paragraph tag */
p {
  line-height: 1.5em;
}

blockquote {
  font-style: italic;
  border-left: 0.125em solid var(--color-bg-alt);
  padding-left: 1em;
}

/* Tables */
table,
td,
th {
  border: 0.0625em solid var(--color-bg-alt);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 0.0625em 0 0 0.0625em;
  width: 100%;
}

td,
th {
  border-width: 0 0.0625em 0.0625em 0;
  text-align: left;
  padding: 0.5em;
}

/* Defintion lists */
dt{ font-weight: bold; }
dd { margin: 0 0 1em 1em; }

/* Lists */
ul {
  list-style: disc;
}

ul,
ol {
  margin-left: 1.6em;
  padding: 0;
}

/* Address tag*/
address {
  font-style: italic;
}

/* Anchor tag*/
a {
  color: var(--color-anchor);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/* Abbreviation tag*/
abbr {
  cursor: help;
}

/* Acronym tag */
acronym {
  cursor: help;
}

/* Cite tag */
cite {
  font-style: italic;
}

/* Code tag */
code {
  background-color: rgba(0,0,0,.1);
}

/* Horisontal rule tag */
hr {
  width: 100%;
  border: none;
  height: 0.0625em;
  background-color: var(--color-bg-alt);
}

/* Insert tag */
ins {
  text-decoration: none;
  background-color: var(--color-bg);
  color: var(--color-text);
}

/* Preformated text */
pre {
  background-color: rgba(0,0,0,.1);
  border: 0.0625em dotted var(--color-text);
  border-radius: 0.1875em;
  max-width: 100%;
  overflow: auto;
  padding: 1em;
}

#widget-areas-footer,
#site-footer {
  hr {
    background-color: var(--color-text-alt);
  }

  table,
  th,
  td {
    border-color: var(--color-text-alt) !important;
  }
}