/* Post format: Gallery */
.format-gallery {
  .gallery-item {
    text-align: center;
  }
}

/* Post format: Video */
.js {
  .format-video {
    iframe,
    embed,
    object {
      width: 100%;
    }
  }
}

/* Post format: Aside */
.format-aside {
  background-color: rgba(0,0,0,0.1);
  grid-gap: 0;
  padding: 1em;

  .entry-meta {
    font-size: .8rem;
  }
}

/* Post format: Status */
.format-status {
  grid-gap: 0;

  .entry-meta {
    font-size: .8rem;
  }

  .entry-content {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
  }
}

/* Post format: Link */
.format-link {
  .entry-content {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
  }

  .entry-content a::before {
    font-family: 'fell-icon-font';
    content: '\EA0F';
    padding-right: .5em;
  }
}

/* Post format: Quote */
.format-quote {
  grid-gap: 0;

  .entry-meta {
    font-size: .8rem;
  }

  .entry-content {
    font-size: 1.2rem;
    font-weight: 600;
  }

  blockquote {
    border: none;
    padding: 0 2em;
    position: relative;

    &::before,
    &::after {
      position: absolute;
      font-size: 3rem;
    }

    &::before {
      content: '“';
      top: 0;
      left: 0;
    }

    &::after {
      content: '”';
      bottom: 0;
      right: 0;
    }
  }
}

/* Post format: Chat */
body:not(.content-view-excerpt) .format-chat {
  .entry-content {
    border: 0.0625em solid var(--color-text);
    padding: 1em;
    font-style: italic;
  }
}

.layout-two-columns {
  .format-aside,
  .format-status,
  .format-quote,
  .format-link {
    grid-column: 1 / 3;
  }
}