.gallery {
  display: grid;
  grid-template-columns: minmax(0, auto);
  grid-gap: var(--spacing);
}

.gallery-item {
  text-align: center;
}

.gallery-caption {
  font-style: italic;
}

body:not(.content-view-excerpt) {
  .format-status,
  .format-link,
  .format-quote {
    .entry-content {
      font-size: 35px;
    }
  }
}

.format-link .entry-content a::before {
  font-family: 'fell-icon-font';
  content: '\EA0F';
  padding-right: var(--spacing-half);
}

.format-quote {
  blockquote {
    border: none;
    padding: 0;
  }
}

.js {
  .format-video {
    iframe,
    embed,
    object {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .gallery-columns-1 {
    grid-template-columns: minmax(0, 1fr);
  }

  .gallery-columns-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .gallery-columns-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .gallery-columns-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .gallery-columns-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .gallery-columns-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .gallery-columns-7 {
    grid-template-columns: repeat(7, minmax(0, 1fr));
  }

  .gallery-columns-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }

  .gallery-columns-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }

  .gallery-columns-10 {
    grid-template-columns: repeat(10, minmax(0, 1fr));
  }
}