#widget-areas-above-content,
#widget-area-left-sidebar,
#widget-area-right-sidebar,
#widget-areas-below-content,
#widget-areas-footer,
#site-footer {
  padding: var(--spacing);
}

#widget-areas-above-content,
#widget-areas-below-content,
#widget-areas-footer,
.widget-area {
  display: grid;
  grid-template-columns: minmax(0, 100%);
  grid-gap: var(--spacing);
  align-content: start;
}

#widget-areas-above-content {
  grid-area: widget-areas-above-content;
}

#widget-area-left-sidebar {
  grid-area: widget-area-left-sidebar;
}

#widget-area-right-sidebar {
  grid-area: widget-area-right-sidebar;
}

#widget-areas-below-content {
  grid-area: widget-areas-below-content;
}

#widget-areas-footer {
  grid-area: widget-areas-footer;
}

@media (min-width: 1024px) {
  .widget-area {
    max-width: 300px;
  }

  #widget-area-above-content-one,
  #widget-area-below-content-one,
  #widget-area-footer-one {
    grid-column: 1 / 2;
  }

  #widget-area-above-content-two,
  #widget-area-below-content-two,
  #widget-area-footer-two {
    grid-column: 2 / 3;
  }

  #widget-area-above-content-three,
  #widget-area-below-content-three,
  #widget-area-footer-three {
    grid-column: 3 / 4;
  }

  #widget-areas-above-content,
  #widget-areas-below-content,
  #widget-areas-footer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    
    .widget-area {
      justify-self: center;
    }
  }

  #widget-area-left-sidebar {
    padding-right: 0;
  }

  #widget-area-right-sidebar {
    padding-left: 0;
  }
}