:root {
  --color-bg: #FFFFFF;
  --color-bg-alt: #202020;

  --color-text: #666666;
  --color-text-alt: #FFFFFF;

  --color-anchor: #1E73BE;

  --spacing: 20px;
  --spacing-half: 10px;
  --spacing-double: 40px;

  --font-size: 16px;
}