.site-header {
  position: relative;
  width: 100%;
  height: 50vh;
  padding: 0;
  margin: 0;
  display: flex;
  background-image: url('assets/images/kluane.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body.home:not(.paged) .site-header,
body.blog:not(.paged) .site-header {
  height: 100vh;
}